@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ffffff;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container p {
  color: #215e65;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
.container label {
  position: relative;
}
.container label input {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
.container label .fa {
  position: relative;
  width: 40px;
  height: 40px;
  background: #091921;
  line-height: 40px;
  text-align: center;
  margin: 0.4px;
  color: #6f6f6f;
  font-size: 16px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8);
}
.container label .fa:hover {
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8),
    inset -2px -2px 10px rgba(255, 255, 255, 0.1),
    inset 2px 2px 10px rgba(0, 0, 0, 0.8);
}
.container label input:checked ~ .fa {
  color: #ff9900;
  box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
  text-shadow: 0 0 5px #ff9900, 0 0 20px #ff9900;
}
